* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    height: 110vh;
    width: 100%;
    
}

body{
    background-image: url(https://images.unsplash.com/photo-1610303871783-491dc6d0a165?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);
    

}

.logo{
   
    width: 100px;
    height: 100px;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 0px;
    border: #2b2b2e;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;


}

h2,h3{
    margin: top 25px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 70px;
    color: #2b2b2e;
    
   
}

.about-main{
    float: left;
    clear: both;
    background-color: darkgoldenrod;
    margin-left: 20px;
   


}

.client-cta{
    float: right;
    clear: none;
    margin-left: 20px;
    background-color: #2b2b2e;
    color: darkgoldenrod;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    


}

/* May use this style on other pages and classes. 
.heavy{
    width: 36%;
    height: auto;
    background-color: darkgoldenrod;
    padding: 5px;
    padding-bottom: 1px;
    

}
*/

.navigation{
    margin-bottom: 0px;
    background-color: #2b2b2e;
    float:right;
    clear: both;
    padding: 10px;
    
    
    
}


li {
    text-decoration: none;
    margin: 5px;
    padding: 2px;
    font-family: Lora;
    font-size: 20px;
    color: darkgoldenrod;
    float: right;
    display: inline;
    position: relative;
    
}

a, a:visited {
    text-decoration: none;
    color: inherit;
}

.line{
    
    float: right;
    height: 2px;
    width: 70%;
    background-color: darkgoldenrod;
    margin-top: 57px;
    margin-left: 2px;
    margin-right: 0px;
}

.brand-statement{
    
    margin-top: 0px;
    margin-left: 25px;
    padding-left: 10px;
    width: 25%;
    height: 25%;
    background-color: darkgoldenrod;
    letter-spacing: -5px;
    border: darkgoldenrod;
    border-left: 25px;
    line-height: 60px;
    
   

}

.consulting-text{
    letter-spacing: .75px;
    
    

}



.main-text{
    position: relative;
    margin-top: 0px;
    margin-left: 25%;
    float: left;
    width: 30%;
    padding-top: 0px;
    padding-left: 50px;
    background-color: darkgoldenrod;
    height: 25px;
    font-size: 35pt;
    font-family: 'Rufina', serif;
   
    
}

.joining-box{
    width: 25px;
    height: 75px;
    background-color: darkgoldenrod;
    margin-left: 25%;
}

.inside-text{
    color: darkgoldenrod;
}

p{
    color: #2b2b2e;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    
    

}

#home-text{
    border-width: 0px 2px 2px 0px;
    border-style: double;
    border-color: azure;
    font-family: 'Rufina', serif;
   
}

/* Remeber to change this class name */
.digital-landscape{
    color: azure;
}

.mission{
    position: absolute;
    float: left;
    clear: both;
    margin-top: 225px;
    margin-left: 60px;
    padding: 25px;
    text-align: center;
    height: 200px;
    width: 500px;
    background-color: azure;
    border: darkgoldenrod;
    border-width: 4px;
    border-style: solid;
    border-radius: 3px;
    
    
    
}



.branded-text{
    font-family: 'Ubuntu', sans-serif;
}


.vid{
    position: absolute;
    margin-top: 15%;
    margin-left: 20%;
    
}

.video-description, .article-description {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: darkgoldenrod;
    text-align: left;
    
    

}

.flash-work{
    float: right;
    width: 200px;
    height: 350px;
    margin-right: 30%;
    padding: 15px;
    line-height: 25px;
    background-color: #2b2b2e;
    border-width: 4px 4px 4px 0px;
    border-style: solid;
    border-color: azure;
}



.loco-image{
    width: 100%;
    height: auto;
}

.locomotive-article{
    float: right;
    height: 250px;
    width: 300px;
    margin-top: 550px;
    margin-bottom: 175px;
    margin-right: 10px;
    
}

.loco-work{
    float: right;
    width: 350px;
    height: 200px;
    margin-top: 500px;
    margin-left: 15px;
    padding:15px;
    line-height: 25px;
    background-color: #2b2b2e;
    border-width: 4px 0px 4px 4px;
    border-style: solid;
    border-color: azure;
}

 

.test{
    float: left;
    clear: both;
    position: inherit;
    background-color: aqua;
    margin-top: 500px;

}

.subject-text{
    text-decoration: underline;
    font-weight: bold;
}


/*footer style starts here */
footer{
    
    float:left;
    height: 200px;
    width: 100%;
    padding: 25px 100px;
    background-color: #2b2b2e;
}

.footer-column{
    float: left;
    width: 200px;
}

.footer-nav-title{
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

.newsletter-container{
    float: right;
    width: 450px;
}

.form-input-container{
    width: 100%;
}

.newsletter-input{
    width: 73%;
    height: 25px;
}

.newsletter-button{
    width: 23%;
    height: 25px;
}

.form-input-container{
    margin-top: 20px;
}

.footer-nav-title{
    color: goldenrod;
}

i{
    margin-top: 25px;
    font-size: 20px;
    color:goldenrod
}

